body {
    font-family: 'Raleway', sans-serif;
   margin: 10px;
}
/* main */
.content{
    display: flex;
    flex-direction: column;
}
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000000;
}

/*Nav Bar*/
.nav-menu-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 60px;
    margin-top: 20px;
}

.navmenuitems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0px;
    margin: 0px 20px;
} 

nav ul {
    margin: 0px;
    padding: 24px 0px 5px 30px;
  }
  
  nav li {
    margin-right: 40px;
     list-style: none;
     text-decoration: none;
     display: inline;
  }

  .navmenuitems a:hover {
    margin-top: -3px;
    border-top-style: solid;
    border-top-color: #0065FC;
    color: #0065FC;
}

.logo{
    width: 100px;
}

 /*Search*/
  .search{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    border-radius: 20px;
}

.fa-location-dot {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    height: 20px;
    float: left;
}

.search_text {
    height: 20px;
    border: solid #F2F2F2 1px;
    border-left: none;
    border-right: none;
    background-color: #ffffff;
    padding: 10px;
}

#searchbutton{
    float: left;
    height: 40px;
    color: #ffffff;
    border-left: none;
    background-color:#0065FC;
    padding: 15px;
    border-radius: 0 20px 20px 0;
}

/*Filter*/

.filters-container{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: fit-content ;
    margin: 15px;
    margin-left: 0;
    padding: 10px;
}

.filter-lowcost {    
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    border: solid #F2F2F2 1px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 0 15px 0 0;
    width: 150px;
}

.filter-lowcost:hover{
    background-color: #0065FC;
    color:#ffffff;
}

.fa-money-bill-1-wave {
    border-radius: 20px;
    background-color:#DEEBFF;
    color:#0065FC;
    padding: 15px;
    float: left;
}

.filter-family {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    border: solid #F2F2F2 1px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 0 15px 0 0;
    width: fit-content;
}

.filter-family:hover{
    background-color: #0065FC;
    color:#ffffff;
}

.fa-child-reaching {
    border-radius: 20px;
    background-color:#DEEBFF;
    color:#0065FC;
    padding: 15px;
}

.filter-romantic {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    border: solid #F2F2F2 1px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 0 15px 0 0;
    width: 150px;
}

.filter-romantic:hover{
    background-color: #0065FC;
    color:#ffffff;
}

.fa-heart {
    border-radius: 20px;
    background-color:#DEEBFF;
    color:#0065FC;
    padding: 15px;
}

.filter-pets {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    border: solid #F2F2F2 1px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 0 15px 0 0;
    width: 150px;
}

.filter-pets:hover{
    background-color: #0065FC;
    color:#ffffff;
}
.fa-dog {
    border-radius: 20px;
    background-color:#DEEBFF;
    color:#0065FC;
    padding: 15px;
}

.filter-title{
    padding-left: 10px;
}

/*Accomodations and Popular*/

.fa-info {
    margin: 10px;
    padding: 8px;
    background-color: #ffffff;
    color: #0065FC;
    width: 5px;
    height: 5px;
    border: solid 1px #F2F2F2;
    border-radius: 40%;

}
.accomodationandpopular {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    /* align-content: stretch; */
    /* padding: 0px 20px; */
    /* width: 100%; */
    height: max-content;
    margin-right: none;
    align-items: flex-start;
}

/*Accomodations*/

.fa-star {
    color: #0065FC;
}
.star_blank{
    color: #808080f9;
}

.accomodations {
    border-radius: 20px;
    width: 70%; 
    height: 830px;
    background-color: #F2F2F2;
    padding: 50px;
    /* margin: auto 10px; */
    column-gap: 20px;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.acctitle{
    align-self: flex-start;
}
.acctop{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 50px 50px;
}

.showmore {
    align-self: flex-start;
    margin-top: 20px;
}
.roomcard {
    flex-basis: auto;
    width: fit-content;
    height: fit-content;
    padding: 5px;   
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
    position: relative;
    text-align: start; 
    box-shadow: 1px 1px 2px grey;
}

.columnitems {
    flex-direction: column;
}

.rowitems {
    flex-direction: row;
}

.room-image {
    max-width: 100%;
    width: 440px;
    max-height: 100%;
    height: 150px;
    border-radius: 20px 20px 0 0;
}

.pop-card-width{
    width: 100%;
}

.roominfo{
    padding: 0 10px;
    text-align: start;
}

/*Popular*/

.popular {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    border-radius: 20px;
     width: 30%; 
    height: 830px;
    background-color: #F2F2F2;
    padding: 50px;
    /* margin: auto; */
    margin-left: 20px;
    margin-right: 10px;
    /* background-color: red; */
}

.populartitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.room-img-pop {
    width: 240px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.roomimage {
    width: fit-content;
    height: fit-content;
}


/*Activities*/

.activities{
    width: 100%;
    height: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.activities-pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    column-gap: 40px;
    row-gap: 40px;
    width: 95%;
    height:500px;
    margin-top: 10px;
}

.big-pictures {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: fit-content;
    margin: 5px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px #F2F2F2;
}

.activities-picture-big{
    width: 100%;
    height: 394px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activities-title {
    padding: 15px;
    flex-basis: auto;
}

.two-pictures {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 35px;
    width: 250px;
    height: 500px;
    border-radius: 20px;
}
.small-pictures {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 300px;
    height: fit-content;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px #F2F2F2;
}

.activities-picture-small{
    width: 300px;
    height: 160px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

footer{
    background-color: #F2F2F2;
    width:100%;
    display: flex;
    flex-direction: row;
    gap:45px;
    align-items: flex-start;
    align-content: center;
    margin-top: 50px;
    padding: 15px;
}
.title{font-weight: bold;}
 /* Tablet*/
 @media only screen and (min-width: 768px) and (max-width: 991px){
    .accomodationandpopular {
        flex-direction:column;
    }

    .popular{
        order: -1;
        width: 85%;
        margin-left: 0px;
    }

    .accomodations{
        width: 85%;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .activities, .activities-pictures {
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
    }

    footer{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 15px;
    }
 }
/*Mobile*/
@media only screen and (max-width: 768px) {

    .nav-menu-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: fit-content;
        width: fit-content;
    }

    .searchandfilters{
        flex-direction: column;
        width: fit-content;
        height: fit-content;
    }
    .accomodationandpopular, .acctop, .filters-container {
      flex-direction: column; 
      height: auto;
      margin-right: auto;
      width: fit-content;
    }

    .accomodations{
        height: auto;
        width: 85%;
    }

    .columnitems{
        width: 350px;
    }
    .popular{
        margin-left: 0px;
        margin-bottom: 20px;
        width: 85%;
        order:-1;
    }

    .room-img-pop {
        width: 225px;
        height: 185px;
        object-fit: cover;
        border-radius: 20px 0 0 20px;
    }

    .pop-card-width {
        width: 355px;
    }

    .activities, .activities-main-title, .activities-pictures{
        flex-direction: column;
        width: fit-content;
        margin-top: 0px;
        height: auto;
    } 

    .big-pictures{
        width: 440px;
        margin-left: 0px;
        height: fit-content;
        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: 1px 1px 4px #F2F2F2;
    }

    .activities-picture-big{
        width: 100%;
        height: 160px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    .small-pictures, .two-pictures{
        width: 440px;
        margin-left: 0px;
        height: fit-content;
        border-radius: 20px;
        background-color: #ffffff;
    }

    .activities-picture-small{
        width: 100%;
        height: 160px;
        border-radius: 15px 15px 0 0;
        object-fit: cover
    }
    footer{
        flex-direction: column;
        width: 500px;
        justify-content: center;
        margin-left: -10px;
        padding-left: 20px;
    }
  }
